//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define RAISE 1
#define LOWER 2

//      ╭────────────────╮     ╭────────────────╮
//      |  0  1  2  3  4 |     |  5  6  7  8  9 |
//      ├────────────────┤     ├────────────────┤
// ╭────┤ 10 11 12 13 14 |     | 15 16 17 18 19 ├────╮
// | 20 ├────────────────┤     ├────────────────┤ 31 |
// ╰────┤ 21 22 23 24 25 |     | 26 27 28 29 30 ├────╯
//      ╰───────┬────────┴─╮ ╭─┴────────┬───────╯
//              | 32 33 34 | | 35 36 37 |
//              ╰──────────╯ ╰──────────╯

/ {
    behaviors {
		hm: homerow_mods {
			// https://zmk.dev/docs/behaviors/hold-tap#example-use-cases
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick-tap-ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		phm: pinky_homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <200>; // longer because pinkies are weak and slow
			quick-tap-ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		td: tap_dance {
			compatible = "zmk,behavior-hold-tap";
			label = "TAP_DANCE";
			#binding-cells = <2>;
			tapping-term-ms = <150>;
			quick-tap-ms = <0>;
			flavor = "tap-preferred";
			bindings = <&kp>, <&kp>;
		};
		repeatz: repeat_z {
			// holding ctrl/cmd+Z should repeatedly undo
			compatible = "zmk,behavior-mod-morph";
			label = "REPEAT_Z";
			#binding-cells = <0>;
			bindings = <&lt ADJUST Z>, <&kp LC(Z)>;
			mods = <(MOD_LCTL|MOD_RCTL)>;
		};
	};

    combos {
        compatible = "zmk,combos";

		combo_qw {
			timeout-ms = <50>;
			key-positions = <0 1>;
			bindings = <&kp ESCAPE>;
		};
		combo_rt {
			timeout-ms = <50>;
			key-positions = <3 4>;
			bindings = <&kp GRAVE>;
		};
		combo_yu {
			timeout-ms = <50>;
			key-positions = <5 6>;
			bindings = <&kp PLUS>;
		};
		combo_fg {
			timeout-ms = <50>;
			key-positions = <13 14>;
			bindings = <&kp SQT>;
		};
		combo_hj {
			timeout-ms = <50>;
			key-positions = <15 16>;
			bindings = <&kp MINUS>;
		};
		combo_fj {
			timeout-ms = <50>;
			key-positions = <13 16>;
			bindings = <&caps_word>;
		};
		combo_xc {
		    timeout-ms = <50>;
			key-positions = <22 23>;
			bindings = <&kp TILDE>;
		};
		combo_vb {
		    timeout-ms = <50>;
			key-positions = <24 25>;
			bindings = <&kp DQT>;
		};
		combo_nm {
			timeout-ms = <50>;
			key-positions = <26 27>;
			bindings = <&kp EQUAL>;
		};
		combo_commadot {
			timeout-ms = <50>;
			key-positions = <28 29>;
			bindings = <&kp UNDERSCORE>;
		};
    };

    keymap {
        compatible = "zmk,keymap";
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        qwerty_layer {
//             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
//             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
//             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
//             ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     ;     ┃
// ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
// ┃    TAB    ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃    BSPC   ┃
// ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
//                                     ┃   ENTER   ┃   BSPC    ┃    TAB    ┃   ┃   SPACE   ┃           ┃   ENTER   ┃
//                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                &kp Q        &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P
                &phm LGUI A  &hm LALT S  &hm LCTRL D &hm LSHFT F &kp G           &kp H       &hm RSHFT J &hm RCTRL K &hm RALT L  &phm RGUI SEMI
    &kp TAB     &repeatz     &td LC(X) X &td LC(C) C &td LC(V) V &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &phm LC(LS(LG(LALT))) SLASH    &kp BSPC
                                       &kp RET     &kp BSPC  &lt RAISE TAB  &lt LOWER SPACE  &kp BSPC    &kp RET
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


        raise_layer {
//        |  +  |  7  |  8  |  9  |  *  |             |     | HOME |  UP  |  END  |     |
//        |  -  |  4  |  5  |  6  |  :  |             |     | LEFT | DOWN | RIGHT |     |
//  |  =  |  0  |  1  |  2  |  3  |  .  |             |     |      |      |       |     |     |
//                          |     |     |[HELD]| |    |     |      |
            bindings = <
                &kp PLUS        &kp N7       &kp N8       &kp N9       &kp STAR      &none	&kp HOME &kp UP   &kp END   &none
                &phm LGUI MINUS &hm LALT N4  &hm LCTRL N5 &hm LSHFT N6 &kp COLON     &none	&kp LEFT &kp DOWN &kp RIGHT	&none
      &kp EQUAL &kp N0          &td LC(X) N1 &td LC(C) N2 &td LC(V) N3 &kp PERIOD    &trans	&trans   &trans   &trans    &trans &trans     
                                             &trans       &trans       &trans        &trans &trans   &trans      
            >;
        };

// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


        lower_layer {
//        |  {  |  }  |  [  |  ]  |     |              |  ^  |  &  |  *  |  |  |  \  |
//        |     |  (  |  )  |     |     |              |  !  |  @  |  #  |  $  |  %  |
//  |     |     |     |     |     |     |              |  -  |  =  |  <  |  >  |  ?  |     |
//                          |     |     |     | |[HELD]|     |     |     |
            bindings = <
                &kp LBRC &kp RBRC &kp LBKT &kp RBKT	&none     &kp CARET	&kp AMPS  &kp STAR	&kp PIPE &kp BSLH
                &none	 &kp LPAR &kp RPAR &none   	&none     &kp EXCL	&kp AT    &kp HASH	&kp DLLR &kp PRCNT
        &trans  &none	 &kp LT	  &kp GT   &none	&none     &kp MINUS	&kp EQUAL &kp LT    &kp GT   &kp QMARK  &trans
                                  &trans   &trans   &trans    &trans    &trans   &trans    
            >;
        };
    };
};
